<form action="/foo" method="POST" class="form js-form">
	<input type="text" name="title" class="form-text">
	<textarea name="content" id="" cols="30" rows="10" class="form-textarea"></textarea>
	<input type="submit" class="btn js-post-button">
</form>
<select name="" id="" class="js-select">
	<option value="1" selected>新しい</option>
	<option value="2">古い</option>
</select>
<ul class="js-todo-list">
	
</ul>
<input type="submit" value="取得" class="btn js-fetch-button">
<script>
	$(function() {
		var SORT  = 1;
		var LIMIT = 5;
		var SKIP  = 0;
		var IS_RESET  = false;

		var postTodo = function(data) {
			$.ajax({
				type: 'POST',
				url: '/todo',
				data: data,
				success: function(res){
					console.log('res', res);
				}
			});
		};

		var fetchTodos = function(query) {
			$.ajax({
				type: 'GET',
				url: "/todos",
				data: query,
				success: function(res){
					console.log('get todos', res);
					SKIP = res.skip;
					var $todoList = $('.js-todo-list');
					var todos = '';
					if(IS_RESET) $todoList.empty();

					for (var i = 0; i < res.todos.length; i++){
						var todo = res.todos[i];
						todos += '\
						<li class="js-todo" data-id="'+todo.id+'">\
							<p>'+todo.title+'</p>\
							<p>'+todo.content+'</p>\
							<time datetime="'+todo.updatedAt+'">'+todo.updatedAt+'</time>\
						</li>'
					}
					$(todos).appendTo($todoList);
				}
			});
		};

		var fetchTodo = function(id) {
			$.ajax({
				type: 'GET',
				url: "/todo",
				data: {id: id},
				success: function(res){
					console.log('get todos', res);
				}
			});
		};

		// 投稿
		$(document).on('click', '.js-post-button', function(e) {
			e.preventDefault();
			var data = $('.js-form').serializeArray();
			console.log('data', data);
			postTodo(data);
		});

		// 取得
		$(document).on('click', '.js-fetch-button', function(e) {
			e.preventDefault();
			IS_RESET = false;

			var query = {
				sort: SORT,
				limit: LIMIT,
				skip: SKIP
			};
			fetchTodos(query);
		});

		// 取得
		$(document).on('change', '.js-select', function(e) {
			e.preventDefault();
			var $target = $(e.currentTarget);
			var $selected = $target.find("option:selected");
			SORT = $selected.val();
			SKIP = 0;
			IS_RESET = true;

			var query = {
				sort: SORT,
				limit: LIMIT,
				skip: SKIP
			};
			fetchTodos(query);
		});

		// 一件取得
		$(document).on('click', '.js-todo', function(e) {
			e.preventDefault();
			var $target = $(e.currentTarget);
			var id = $target.data('id');
			
			fetchTodo(id);
		});
	});
</script>